<!--===== CONTACT =====-->

<section class="contact section" id="contact">
  <span class="section-subtitle" >Contact Me</span>
  <h2 class="section-title">Get In Touch</h2>
  <div class="contact__container bd-grid">

      <form action="" [formGroup] = "form" lass="contact__fomr">
      <div class="contact__inpits">
        <div class="contact__group">
          <input  type="text"
                  placeholder="Name"
                  [class.contact__input-invalid]="hasAnyError('name') "
                  class="contact__input contact__input-invalid"
                  formControlName="name" >
          <small *ngIf="hasRequieredError('name')"
                 class="contact__text-danger">*Required</small>
        </div>
        <div class="contact__group">
          <input type="mail"
                 placeholder="Email"
                 [class.contact__input-invalid]="hasAnyError('email') "
                 class="contact__input"
                 formControlName="email">
          <small *ngIf="hasRequieredError('email')"
                 class="contact__text-danger">*Required</small>
          <small *ngIf="hasEmailError('email')"
                 class="contact__text-danger">Invalid email format</small>
        </div>

      </div>
      <div class="contact__group">
        <textarea name=""
                  cols="0"
                  rows="10"
                  formControlName="description"
                  [class.contact__input-invalid]="hasAnyError('name') "
                  placeholder="Message"
                  class="contact__input"></textarea>
        <small  *ngIf="hasRequieredError('description')"
                class="contact__text-danger">*Required</small>
      </div>

      <input type="submit" value="Send Message" class="button contact__button">
  </form>

  <div>
      <div class="contact__info">
          <h3 class="contact__subtitle">Call me</h3>
          <span class="contact__text">829-643-9316</span>
      </div>

      <div class="contact__info">
          <h3 class="contact__subtitle">E-mail</h3>
          <span class="contact__text">tejadaniel33@gmail.com</span>
      </div>

      <div class="contact__info">
          <h3 class="contact__subtitle">Location</h3>
          <!-- <span class="contact__text">AV. Bolivar #123</span> -->
          <span class="contact__text">Santo Domingo - Dominican Republic</span>
      </div>
  </div>
  </div>

</section>
