<section class="about section" id="about">
  <span class="section-subtitle">My intro</span>
  <h2 class="section-title">About Me</h2>

  <div class="about__container bd-grid">
      <div class="about__data">
          <p class="about__description">I am a software developer specialized in ASP.NET CORE in the development of REST API, MVC applications, clean architecture, SQL Server and SPA aplications with Angular.</p>
          <img src="/assets//img/perfil2.jpg" class="about__img" alt="">
      </div>

      <div>
          <div class="about__information">
              <h3 class="about__infotmation-title">Information</h3>

              <div class="about__information-data">
                  <i class="bx bx-user about__information-icon"></i>
                  <span>Erick Daniel Tejada</span>
              </div>

              <div class="about__information-data">
                  <i class="bx bx-phone about__information-icon"></i>
                  <span>829-643-9316</span>
              </div>

              <div class="about__information-data">
                  <i class="bx bx-envelope about__information-icon"></i>
                  <span>tejadadaniel33@gmail.com</span>
              </div>
          </div>
  </div>

  </div>
</section>
