<section class="works" id="works">
  <span class="section-subtitle">My portfolio</span>
  <h2 class="section-title">Recent Works</h2>

  <div class="works__container bd-grid">

    <div class="works__img">
      <img src="/assets/img/Capture4.jpeg" alt="">
      <div class="works__data">
          <a href="https://github.com/YoSoyGabriel/super-mercado-asp.net" class="works__link"> <i class="bx bx-link-alt"></i></a>
          <span class="works__title">Super Market</span>
          <span class="works__description">ASP.Net Core MVC </span>
      </div>
     </div>

      <div class="works__img">
          <img src="/assets/img/Capture.PNG" alt="">
          <div class="works__data">
              <a href="https://github.com/Daniel884936/EmploymentApp" class="works__link"> <i class="bx bx-link-alt"></i></a>
              <span class="works__title">Employee API</span>
              <span class="works__description">ASP.Net Core | RestFul  </span>
          </div>
      </div>

      <div class="works__img">
          <img src="/assets/img/Capture3.PNG" alt="">
          <div class="works__data">
              <a href="https://github.com/eirondiaz/apiPjFinal" class="works__link"> <i class="bx bx-link-alt"></i></a>
              <span class="works__title">Patient Management</span>
              <span class="works__description">FastApi | Simple Api</span>
          </div>
      </div>

      <div class="works__img">
          <img src="/assets/img/Capture5.PNG" alt="">
          <div class="works__data">
              <a href="https://github.com/Daniel884936/Employee-crud" class="works__link"> <i class="bx bx-link-alt"></i></a>
              <span class="works__title">Employee CRUD</span>
              <span class="works__description">Angular | ASP.Net Core</span>
          </div>
      </div>

      <div class="works__img">
          <img src="/assets/img/Capture6.PNG" alt="">
          <div class="works__data">
              <a href="https://github.com/Daniel884936/SpotyApp" class="works__link"> <i class="bx bx-link-alt"></i></a>
              <span class="works__title">Spoty App</span>
              <span class="works__description">Angular</span>

          </div>
      </div>


      <div class="works__img">
        <img src="/assets/img/Screenshot.png" alt="">
        <div class="works__data">
            <a href="https://github.com/Daniel884936/GestiondeEstudianteFinal" class="works__link"><i class="bx bx-link-alt"></i></a>
            <span class="works__title">Student Management </span>
            <span class="works__description">ASP.Net Framework (MVC) </span>

        </div>
    </div>

  </div>
</section>
