<section #home class="home animate__animated animate__fadeIn " id="home">
  <div class="home__container bd-grid">
      <div class="home__data ">
          <div class="home__img">
              <img src="/assets/img/perfil2.jpg" alt="">
          </div>

      <h1 class="home__title">Erick Daniel Tejada</h1>
      <span class="home__profession">Software Developer</span>
      <div class="home__social">
          <a href="https://www.linkedin.com/in/erick-daniel-tejada-738aaa1a9" class="home__social-link"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/Daniel884936" class="home__social-link"><i class="bx bxl-github"></i></a>
      </div>

      <!-- <a download="" href="" class="button home__button">Dowload Resume</a> -->
  </div>
  </div>
</section>
