/* You can add global styles to this file, and also import other style files */
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/

:root{
  --header-height:3rem;
  --nav-width:324px;

  /*===== Font weight =====*/
  --font-medium:500;
  --font-semi-bold:600;
  --font-bold:700;

  /* ORA */
  /*===== Colors =====*/
  /* --first-color: #CC4B3C;
  --first-color-dark: #662616;
  --first-color-darken: #290F09;
  --text-color: #54423D;
  --first-light: #EAE7E6;
  --first-color-lighten: #FFFAFA; */

  /* PURPLE */
    /*===== Colors =====*/
  /* --first-color: #424cd3;
  --first-color-dark: #2f39c3;
  --first-color-darken: #2a32a1;
  --text-color: rgb(17, 17, 17);
  --first-light: #EAE7E6;
  --first-color-lighten: #FFFAFA; */

  /* BLACK */
  /*===== Colors =====*/
  --first-color: #333333;
  --first-color-dark: #1a1a1a;
  --first-color-darken: #000000;
  --text-color: rgb(19, 19, 19);
  --first-light: #EAE7E6;
  --first-color-lighten: #FFFAFA;


  /*===== Font and typography =====*/
  --body-font:'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size:.938rem;
  --smal-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/

@media screen and (min-width: 768px){
  :root{
    --body-font:'Poppins', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size:1rem;
    --smal-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*,::before, ::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

/* ::-webkit-scrollbar-track {
  background-color: #7c7c7c;
} */

::-webkit-scrollbar-thumb {
  box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.75);
  border-radius: 6px;
  background-color: var(--first-color);
}

body{
  margin : var(--header-height), 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  /* background-color: var(--first-color-lighten); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 250%2c 250%2c 1)'%3e%3c/rect%3e%3cpath d='M7.79 -73.66L72.74 -36.16L72.74 38.84L7.79 76.34L-57.16 38.84L-57.16 -36.16zM72.74 38.84L137.7 76.34L137.7 151.34L72.74 188.84L7.79 151.34L7.79 76.34zM72.74 263.84L137.7 301.34L137.7 376.34L72.74 413.84L7.79 376.34L7.79 301.34zM137.7 -73.66L202.65 -36.16L202.65 38.84L137.7 76.34L72.74 38.84L72.74 -36.16zM137.7 151.34L202.65 188.84L202.65 263.84L137.7 301.34L72.74 263.84L72.74 188.84zM137.7 376.34L202.65 413.84L202.65 488.84L137.7 526.34L72.74 488.84L72.74 413.84zM202.65 488.84L267.61 526.34L267.61 601.34L202.65 638.84L137.7 601.34L137.7 526.34zM267.61 151.34L332.56 188.84L332.56 263.84L267.61 301.34L202.65 263.84L202.65 188.84zM332.56 263.84L397.51 301.34L397.51 376.34L332.56 413.84L267.61 376.34L267.61 301.34zM267.61 376.34L332.56 413.84L332.56 488.84L267.61 526.34L202.65 488.84L202.65 413.84zM397.51 -73.66L462.47 -36.16L462.47 38.84L397.51 76.34L332.56 38.84L332.56 -36.16zM462.47 38.84L527.42 76.34L527.42 151.34L462.47 188.84L397.51 151.34L397.51 76.34zM462.47 263.84L527.42 301.34L527.42 376.34L462.47 413.84L397.51 376.34L397.51 301.34zM527.42 -73.66L592.37 -36.16L592.37 38.84L527.42 76.34L462.47 38.84L462.47 -36.16zM592.37 263.84L657.33 301.34L657.33 376.34L592.37 413.84L527.42 376.34L527.42 301.34zM657.33 376.34L722.28 413.84L722.28 488.84L657.33 526.34L592.37 488.84L592.37 413.84zM852.19 38.84L917.14 76.34L917.14 151.34L852.19 188.84L787.23 151.34L787.23 76.34zM787.23 151.34L852.19 188.84L852.19 263.84L787.23 301.34L722.28 263.84L722.28 188.84zM852.19 488.84L917.14 526.34L917.14 601.34L852.19 638.84L787.23 601.34L787.23 526.34zM982.1 38.84L1047.05 76.34L1047.05 151.34L982.1 188.84L917.14 151.34L917.14 76.34zM917.14 151.34L982.1 188.84L982.1 263.84L917.14 301.34L852.19 263.84L852.19 188.84zM1047.05 -73.66L1112 -36.16L1112 38.84L1047.05 76.34L982.1 38.84L982.1 -36.16zM1112 263.84L1176.96 301.34L1176.96 376.34L1112 413.84L1047.05 376.34L1047.05 301.34zM1112 488.84L1176.96 526.34L1176.96 601.34L1112 638.84L1047.05 601.34L1047.05 526.34zM1176.96 151.34L1241.91 188.84L1241.91 263.84L1176.96 301.34L1112 263.84L1112 188.84zM1241.91 263.84L1306.86 301.34L1306.86 376.34L1241.91 413.84L1176.96 376.34L1176.96 301.34zM1241.91 488.84L1306.86 526.34L1306.86 601.34L1241.91 638.84L1176.96 601.34L1176.96 526.34zM1371.82 488.84L1436.77 526.34L1436.77 601.34L1371.82 638.84L1306.87 601.34L1306.87 526.34zM1436.77 -73.66L1501.73 -36.16L1501.73 38.84L1436.77 76.34L1371.82 38.84L1371.82 -36.16zM1436.77 376.34L1501.73 413.84L1501.73 488.84L1436.77 526.34L1371.82 488.84L1371.82 413.84zM1501.73 488.84L1566.68 526.34L1566.68 601.34L1501.73 638.84L1436.77 601.34L1436.77 526.34z' stroke='rgba(231%2c 231%2c 231%2c 0.48)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0.29 -73.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.24 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.24 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.29 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-64.66 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-64.66 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.2 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.2 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.24 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.29 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.24 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.2 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.2 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.24 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.29 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.29 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.2 -73.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.15 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.15 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.15 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.15 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.15 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.15 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.2 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.24 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.11 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.11 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.15 638.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.2 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.11 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.06 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.06 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.11 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.01 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.01 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.06 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.11 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.06 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.01 -73.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM454.97 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM454.97 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.01 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.06 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.06 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM519.92 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM519.92 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM454.97 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.01 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM454.97 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM519.92 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM519.92 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM454.97 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM519.92 -73.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM584.87 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM584.87 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM584.87 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM649.83 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM649.83 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM584.87 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM714.78 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM714.78 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM649.83 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM584.87 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM844.69 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM909.64 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM909.64 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM844.69 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM779.73 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM779.73 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM844.69 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM779.73 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM714.78 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM714.78 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM844.69 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM909.64 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM909.64 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM844.69 638.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM779.73 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM779.73 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.6 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.55 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.55 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.6 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.6 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM909.64 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.55 -73.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.5 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.5 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.6 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.5 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.46 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.46 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.5 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.55 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.55 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.5 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.46 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.46 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.5 638.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.55 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.55 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.46 151.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1234.41 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1234.41 263.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.5 188.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.36 301.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.36 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1234.41 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1234.41 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.36 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.36 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1234.41 638.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.32 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.27 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.27 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.32 638.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.37 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.37 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.27 -73.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.23 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.23 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.27 76.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.32 38.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.32 -36.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.27 376.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.23 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.23 488.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.32 413.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.18 526.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.18 601.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.23 638.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(231%2c 231%2c 231%2c 0.48)'%3e%3c/path%3e%3cpath d='M35.02 106.75L78.32 131.75L78.32 181.75L35.02 206.75L-8.28 181.75L-8.28 131.75zM78.32 181.75L121.63 206.75L121.63 256.75L78.32 281.75L35.02 256.75L35.02 206.75zM35.02 256.75L78.32 281.75L78.32 331.75L35.02 356.75L-8.28 331.75L-8.28 281.75zM164.93 31.75L208.23 56.75L208.23 106.75L164.93 131.75L121.63 106.75L121.63 56.75zM121.63 256.75L164.93 281.75L164.93 331.75L121.63 356.75L78.32 331.75L78.32 281.75zM121.63 406.75L164.93 431.75L164.93 481.75L121.63 506.75L78.32 481.75L78.32 431.75zM208.23 -43.25L251.53 -18.25L251.53 31.75L208.23 56.75L164.93 31.75L164.93 -18.25zM251.53 331.75L294.83 356.75L294.83 406.75L251.53 431.75L208.23 406.75L208.23 356.75zM251.53 481.75L294.83 506.75L294.83 556.75L251.53 581.75L208.23 556.75L208.23 506.75zM294.83 -43.25L338.14 -18.25L338.14 31.75L294.83 56.75L251.53 31.75L251.53 -18.25zM294.83 106.75L338.14 131.75L338.14 181.75L294.83 206.75L251.53 181.75L251.53 131.75zM338.14 181.75L381.44 206.75L381.44 256.75L338.14 281.75L294.83 256.75L294.83 206.75zM294.83 406.75L338.14 431.75L338.14 481.75L294.83 506.75L251.53 481.75L251.53 431.75zM381.44 106.75L424.74 131.75L424.74 181.75L381.44 206.75L338.14 181.75L338.14 131.75zM424.74 181.75L468.05 206.75L468.05 256.75L424.74 281.75L381.44 256.75L381.44 206.75zM381.44 256.75L424.74 281.75L424.74 331.75L381.44 356.75L338.14 331.75L338.14 281.75zM424.74 481.75L468.05 506.75L468.05 556.75L424.74 581.75L381.44 556.75L381.44 506.75zM511.35 31.75L554.65 56.75L554.65 106.75L511.35 131.75L468.05 106.75L468.05 56.75zM511.35 331.75L554.65 356.75L554.65 406.75L511.35 431.75L468.05 406.75L468.05 356.75zM511.35 481.75L554.65 506.75L554.65 556.75L511.35 581.75L468.05 556.75L468.05 506.75zM597.95 31.75L641.25 56.75L641.25 106.75L597.95 131.75L554.65 106.75L554.65 56.75zM554.65 106.75L597.95 131.75L597.95 181.75L554.65 206.75L511.35 181.75L511.35 131.75zM597.95 481.75L641.25 506.75L641.25 556.75L597.95 581.75L554.65 556.75L554.65 506.75zM684.56 31.75L727.86 56.75L727.86 106.75L684.56 131.75L641.25 106.75L641.25 56.75zM641.25 106.75L684.56 131.75L684.56 181.75L641.25 206.75L597.95 181.75L597.95 131.75zM641.25 256.75L684.56 281.75L684.56 331.75L641.25 356.75L597.95 331.75L597.95 281.75zM684.56 331.75L727.86 356.75L727.86 406.75L684.56 431.75L641.25 406.75L641.25 356.75zM641.25 406.75L684.56 431.75L684.56 481.75L641.25 506.75L597.95 481.75L597.95 431.75zM727.86 106.75L771.16 131.75L771.16 181.75L727.86 206.75L684.56 181.75L684.56 131.75zM727.86 256.75L771.16 281.75L771.16 331.75L727.86 356.75L684.56 331.75L684.56 281.75zM771.16 331.75L814.47 356.75L814.47 406.75L771.16 431.75L727.86 406.75L727.86 356.75zM814.47 106.75L857.77 131.75L857.77 181.75L814.47 206.75L771.16 181.75L771.16 131.75zM857.77 481.75L901.07 506.75L901.07 556.75L857.77 581.75L814.47 556.75L814.47 506.75zM901.07 -43.25L944.37 -18.25L944.37 31.75L901.07 56.75L857.77 31.75L857.77 -18.25zM944.37 331.75L987.68 356.75L987.68 406.75L944.37 431.75L901.07 406.75L901.07 356.75zM901.07 406.75L944.37 431.75L944.37 481.75L901.07 506.75L857.77 481.75L857.77 431.75zM944.37 481.75L987.68 506.75L987.68 556.75L944.37 581.75L901.07 556.75L901.07 506.75zM1030.98 31.75L1074.28 56.75L1074.28 106.75L1030.98 131.75L987.68 106.75L987.68 56.75zM987.68 106.75L1030.98 131.75L1030.98 181.75L987.68 206.75L944.37 181.75L944.37 131.75zM1030.98 331.75L1074.28 356.75L1074.28 406.75L1030.98 431.75L987.68 406.75L987.68 356.75zM987.68 406.75L1030.98 431.75L1030.98 481.75L987.68 506.75L944.37 481.75L944.37 431.75zM1030.98 481.75L1074.28 506.75L1074.28 556.75L1030.98 581.75L987.68 556.75L987.68 506.75zM1074.28 -43.25L1117.58 -18.25L1117.58 31.75L1074.28 56.75L1030.98 31.75L1030.98 -18.25zM1117.58 181.75L1160.88 206.75L1160.88 256.75L1117.58 281.75L1074.28 256.75L1074.28 206.75zM1074.28 406.75L1117.58 431.75L1117.58 481.75L1074.28 506.75L1030.98 481.75L1030.98 431.75zM1117.58 481.75L1160.88 506.75L1160.88 556.75L1117.58 581.75L1074.28 556.75L1074.28 506.75zM1160.88 406.75L1204.19 431.75L1204.19 481.75L1160.88 506.75L1117.58 481.75L1117.58 431.75zM1247.49 -43.25L1290.79 -18.25L1290.79 31.75L1247.49 56.75L1204.19 31.75L1204.19 -18.25zM1247.49 106.75L1290.79 131.75L1290.79 181.75L1247.49 206.75L1204.19 181.75L1204.19 131.75zM1290.79 181.75L1334.1 206.75L1334.1 256.75L1290.79 281.75L1247.49 256.75L1247.49 206.75zM1290.79 331.75L1334.1 356.75L1334.1 406.75L1290.79 431.75L1247.49 406.75L1247.49 356.75zM1247.49 406.75L1290.79 431.75L1290.79 481.75L1247.49 506.75L1204.19 481.75L1204.19 431.75zM1334.1 106.75L1377.4 131.75L1377.4 181.75L1334.1 206.75L1290.79 181.75L1290.79 131.75zM1334.1 406.75L1377.4 431.75L1377.4 481.75L1334.1 506.75L1290.79 481.75L1290.79 431.75zM1420.7 -43.25L1464 -18.25L1464 31.75L1420.7 56.75L1377.4 31.75L1377.4 -18.25zM1464 181.75L1507.31 206.75L1507.31 256.75L1464 281.75L1420.7 256.75L1420.7 206.75zM1420.7 256.75L1464 281.75L1464 331.75L1420.7 356.75L1377.4 331.75L1377.4 281.75z' stroke='rgba(239%2c 239%2c 239%2c 0.78)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: var(--text-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--first-color-lighten);
  line-height: 1.6;
}

h1,h2,h3,p{
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin : 0;
  padding : 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--smal-font-size);
  color: var(--first-color-darken);
  text-align:center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}


/*===== NAV =====*/
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu{
  position: fixed;
  top: 0;
  left: -100%;
  width:90%;
  height: 100vh;
  padding: 3rem;
 /*  -webkit-box-shadow: 9px 2px 30px -10px rgba(0,0,0,0.75);
 -moz-box-shadow: 9px 2px 30px -10px rgba(0,0,0,0.75);
  box-shadow: 9px 2px 30px -10px rgba(0,0,0,0.75); */
  display: flex;
  align-items:center;
  background-color: var(--first-color);
  transition: .5s;
}

.nav__close{
  position:absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-dark);
  cursor: pointer;
}

.nav__item{
  margin-bottom: var(--mb-4);
}

.nav__link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: .3s;
}

.nav__link:hover{
  color: var(--text-color);
}

.nav__toggle{
  color: var(--first-color-darken);
  font-size: 1.3rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show{
  left: 0;
}

/*Active menu*/
.active{
  color: var(--text-color);
}

/*===== HOME =====*/
.home__container{
  /* margin-top: 4rem; */
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home__data{
  display: flex;
  flex-direction:column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home__img{
 /*  padding-top: 1.3rem;
  padding-left: .8rem; */
  width: 160px;
  height:160px;
  background-color:var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.home__img img{
  width: 160px;
  object-fit: cover;
}

.home__title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.home__profession{
  font-size: var(--smal-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-5);
}

.home__social{
  margin-bottom: 5rem;
}

.home__social-link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}

.home__social-link:hover{
  background-color: var(--first-color-dark);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 10px 10px 44px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 44px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 44px -15px rgba(0,0,0,0.75);
}

/*BUTTONS*/

.home__button{
  width: 100%;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-dark);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-box-shadow: 10px 10px 44px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 44px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 44px -15px rgba(0,0,0,0.75);

}

.button__light:hover{
  color: var(--first-color-lighten);


}


/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
}


.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-4);
}

.about__img{
  width: 150px;
  border-radius: .5rem;
  margin: 0 auto;
}

.about__information{
  margin-bottom: var(--mb-4);
}

.about__information-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
}


.about__information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.about__information-subtitle{
  display: block;
  font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small{
  font-size: var(--smal-font-size);
}

/* ===== SKILLS =====*/

.skills__container{
  row-gap: 2rem;
}

.skills__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
}


.skills__data{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin:0 var(--mb-2);
  margin-bottom: var(--mb-4);
  z-index: -50;
}


.skills__name{
  text-transform: uppercase;
}

.skills__bar{
  position: absolute;
  bottom: -.75rem;
  height: .15rem;
  background-color: var(--first-color);
  width: 100%;
}



/* ===== EDUCATION =====*/
.education{
  margin-bottom: var(--mb-5);
}

.education__container{
  row-gap: 2rem;
}

.education__content{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race{
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.education__university, .education__specialty{
  display: block;
  font-size: var(--smaller-font-size);
}

.education__year, .education__university{
  text-align: right;
}

.education__time{
  padding: 0 1rem;
  justify-content: center;
}

.education__rounder{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education__rounder::before{
  content: '';
  position: absolute;
  transform: translate(-4px,  -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education__line{
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}



/* ===== SERVICES =====*/


/* ===== PROJECT IN MIND  =====*/


/* ===== WORKS =====*/
.works__container{
  justify-items: center;
  row-gap: 2rem;
}

.works__img{
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
}

.works__data{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: rgba(70, 70, 70, 0.7);
  border-radius: .5rem;
  transition: .3s;
}

.works__link{
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  margin-bottom: var(--mb-2);
}

.works__title{
  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
}

.works__description{
  font-size: var(--smaller-font-size);
  color: var(--first-color-lighten);
}

.works__img:hover .works__data{
  bottom: 0;
}


/* ===== CONTACT =====*/
.contact__container{
  row-gap: 3rem;
}


.contact__input{
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  font-weight: var(--font-medium);
  font-family: var(--body-font);
  background-color: var(--first-light);
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  transition: .3s;
}

.contact__group{
  margin-bottom: var(--mb-2);
}
.contact__text-danger{
  color: rgb(189, 26, 58);
}

.contact__input-invalid{
  border: 1px solid rgb(189, 26, 58);
}

textarea.contact__input{
  resize: none;
  overflow-y: auto;
}

.contact ::placeholder{
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.contact__button{
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact__info{
  margin-bottom: var(--mb-3);
}

.contact__subtitle{
   font-size: var(--h3-font-size);
   color: var(--first-color-dark);
   margin-bottom: var(--mb-1);
}

.contact__text{
  display: block;
  padding-left: 1rem;
}


/* ===== FOOTER =====*/

.footer{
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer__description{
  margin-bottom: var(--mb-2);
}

.footer__social{
  margin-bottom: 3rem;
}

.footer__link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}

.footer__link:hover{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footer__copy{
  font-size: var(--smal-font-size);
  color: var( --first-light);
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  .home__button{
    width: initial;
  }

  .nav__menu{
    width: var(--nav-width);
  }

  .about__container,
  .skills__container,
  .works__container,
  .contact__container,
  .contact__input
  {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__data{
    text-align: initial;
  }

  .about__description{
    margin-bottom: var(--mb-5);
  }

  .about__img{
    width: 220px;
  }

  .about__information{
    padding-left: 4rem;
  }

  .education__time{
    padding: 0 2rem;
  }

  .contact__input{
    display: grid;
    column-gap: 1.5rem;
  }

  .contact__info{
    padding-left: 3rem;
  }

  .footer{
    background: none;
  }

  .footer__container{
    background-color: var(--first-color-darken);
    padding: 3rem 0;
    border-radius: .5rem;
  }
}

@media screen and (min-width: 1024px){
  body{
    margin: 0;
    padding-left: var(--nav-width);
  }

  .l-header{
    width: 0;
  }

  .nav__toggle, .nav__logo, .nav__close{
    display: none;
  }

  .nav__menu{
    left: 0;
  }

  .home__container{
    height: 100vh;
  }

  .section{
    padding: 3rem 0 2rem;
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  /* .works__container.bd-grid{
     grid-template-columns: repeat(3, 1fr);
  } */

}
