<section class="education section" id="education">
  <span class="section-subtitle">Qualification</span>
  <h2 class="section-title">My education</h2>
  <div class="education__container bd-grid">

      <div class="education__content">
          <div>
              <h3 class="education__year">2019 - 2021</h3>
              <span class="education__university">Technological Institute of the Americas (ITLA)
              </span>
          </div>

          <div class="education__time">
              <span class="education__rounder"></span>
              <span class="education__line"></span>
          </div>

          <div class="education__race">
              <h3 class="education__race">Software Development Technologist</h3>
              <span class="education__specialty"></span>
          </div>
      </div>

      <div class="education__content">
          <div>
              <h3 class="education__year">2016 - 2018</h3>
              <span class="education__university">Victor Estrella Liz Polytechnic (La Perito)
              </span>
          </div>

          <div class="education__time">
              <span class="education__rounder"></span>
              <span class="education__line"></span>
          </div>

          <div class="education__race">
              <h3 class="education__race">IT technician</h3>
              <span class="education__specialty"></span>
          </div>
      </div>

  </div>

  <!-- ====================================================== -->

  <h2 class="section-title" style="margin-top: 60px;">Certrifications</h2>

  <div class="education__container bd-grid">

    <div class="education__content">
        <div>
            <span class="education__university">SoloLearn
            </span>
        </div>

        <div class="education__time">
            <span class="education__rounder"></span>
            <span class="education__line"></span>
        </div>

        <div class="education__race">
            <h3 class="education__race">SQL</h3>
            <span class="education__specialty"></span>
            <a href="https://www.sololearn.com/certificates/course/en/9027955/1060/landscape/png" class="education__link" >Show certificate</a>
        </div>
    </div>

    <div class="education__content">
        <div>
            <span class="education__university">SoloLearn
            </span>
        </div>

        <div class="education__time">
            <span class="education__rounder"></span>
            <span class="education__line"></span>
        </div>

        <div class="education__race">
            <h3 class="education__race">HTML</h3>
            <span class="education__specialty"></span>
             <a href="https://www.sololearn.com/Certificate/1014-9027955/jpg" class="education__link" >Show certificate</a>
        </div>
    </div>

    <div class="education__content">
      <div>
          <span class="education__university">SoloLearn
          </span>
      </div>

      <div class="education__time">
          <span class="education__rounder"></span>
          <span class="education__line"></span>
      </div>

      <div class="education__race">
          <h3 class="education__race">CSS</h3>
          <span class="education__specialty"></span>
          <a href="https://www.sololearn.com/Certificate/1023-9027955/jpg" class="education__link" >Show certificate</a>
      </div>
  </div>

</div>
</section>
