<section class="skills section" id="skills">
  <span class="section-subtitle" >Why Choose Me</span>
  <h2 class="section-title">My expertise Area</h2>
  <div class="skills__container bd-grid">
      <div class="skills_content">

          <div class="skills__data">
              <span class="skills__name">Html/css</span>
              <span class="skills__number"></span>
              <span class="skills__bar "></span>
          </div>

          <div class="skills__data">
              <span class="skills__name">C#</span>
              <span class="skills__number"></span>
              <span class="skills__bar "></span>
          </div>

          <div class="skills__data">
              <span class="skills__name">JavaScript</span>
              <span class="skills__number"></span>
              <span class="skills__bar "></span>
          </div>

          <div class="skills__data">
              <span class="skills__name">TypeScript</span>
              <span class="skills__number"></span>
              <span class="skills__bar "></span>
          </div>

          <div class="skills__data">
              <span class="skills__name">SQL</span>
              <span class="skills__number"></span>
              <span class="skills__bar "></span>
          </div>


      </div>

      <div class="skills_content">

          <div class="skills__data">
              <span class="skills__name">ASP.NET CORE (WEB API / MVC)</span>
              <span class="skills__number"></span>
              <span class="skills__bar"></span>
          </div>

          <div class="skills__data">
              <span class="skills__name">MSSQL</span>
              <span class="skills__number"></span>
              <span class="skills__bar"></span>
          </div>

          <div class="skills__data">
              <span class="skills__name">Angular</span>
              <span class="skills__number"></span>
              <span class="skills__bar"></span>
          </div>

          <div class="skills__data">
              <span class="skills__name">Bootstrap</span>
              <span class="skills__number"></span>
              <span class="skills__bar"></span>
          </div>


          <div class="skills__data">
              <span class="skills__name">Database design</span>
              <span class="skills__number"></span>
              <span class="skills__bar"></span>
          </div>
      </div>
  </div>
</section>
